.h5p-impress-presentation.impress-presentation-preview {
  height: 1px;
}

.h5p-impress-wrapper {
  height: 100%;
}

.impress-presentation-buttonbar {
  padding: 10px;
  border: 1px solid #ccc;
}

.impress-presentation-buttonbar .joubel-simple-rounded-button {
  margin-right: 1em;
}

.h5p-impresspresentation-editor .impress-presentation-buttonbar .h5p-select-container {
  display: inline-block;
  margin-right: 1em;
}

.h5p-impresspresentation-editor .h5p-select-container .h5p-select-go-to {
  vertical-align: baseline;
  margin-bottom: 0;
  margin-left: 0;
  border-radius: 0;
  padding: 0 0.8em;
  line-height: 1.4em;
}

.h5p-impresspresentation-editor .h5p-select-container .h5p-select-go-to:before {
  font-family: H5PFontAwesome4, sans-serif;
  content: '\f061';
  padding-right: 0;
  font-size: 0.8em;
}

.h5p-impresspresentation-editor .jmpress.hide {
  display: none;
}

.h5p-impresspresentation-editor .impress-presentation-step-dialog {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 1em;
  box-sizing: border-box;
  overflow: auto;
  border: 1px solid black;
  /* Needed to overlap common fields icon */
  z-index: 1;
}

.h5p-impresspresentation-editor .impress-presentation-step-dialog.show {
  display: block;
}
